body{
    margin: 0;
    padding: 30px;
    padding-bottom: 0;
    background-color: rgb(236, 227, 227);
    
}

header{
    margin-top: 0px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

main{
    justify-items: center;
}
.container{
    margin-top: 70px;
    width: 500px;
    height: 300px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: center;
    padding: 30px;
    background-color:  rgb(64, 60, 60)
}

footer{
    background-color: rgb(64, 60, 60);
    margin-bottom: 0;
    height: 50px;
    width: 100%;
    align-content: center;
}